# Virtual Environment
.venv/
venv/
ENV/

# Sensitive database credentials and API keys
.env

# Python byte-code and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude markdown and PDF documentation files from GitHub
*.md
*.pdf

# Operating System files
.DS_Store
Thumbs.db
