# PostgreSQL Database Connection Fields
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=classicmodels
DB_USER=myuser
DB_PASSWORD=mypassword

# Combined Connection URL (Alternative option)
DATABASE_URL=postgresql://myuser:mypassword@postgres_db:5432/classicmodels

# List of API Keys (Custom bracket-enclosed comma-separated list of Gemini API Keys)
# Key Rotator dynamically cycles keys to bypass Free Tier rate limits:
API_KEY= [your_first_gemini_key, your_second_gemini_key, your_third_gemini_key]
