DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=classicmodels
DB_USER=myuser
DB_PASSWORD=mypassword

DATABASE_URL=

LLM_PROVIDER=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
GEMINI_API_KEY=
GEMINI_API_KEYS=
MAX_QUERY_ROWS=500

